<form action="" method="post">
    <h1>Edit Product</h1>
    <input type="text" name="name" required placeholder="Enter new name" value="{{product.name}}">
    <br>
    <input type="text" name="price" required placeholder="Enter new Price" value="{{product.price}}">
    <br>
    <input type="text" name="image" required placeholder="Enter new Image" value="{{product.image}}">
    <br>
    <select name="category">
        {{#each categories}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>

    <br>
    <input type="submit" value="Edit">
</form>